<div class="login_bod" auto-height>
	<form class="form-horizontal isform" ng-submit="vm.password()" role="form">
		<div class="login_main register_main">
			<h1>{{'Xgh_xg_password'|translate}}</h1>
			<label>{{'Xgh_Current.password'|translate}}</label>
			<input type="password" placeholder="{{'Xgh_Current.password'|translate}}" name="oldPassword"
		ng-model="vm.oldPassword">
			<label>{{'Xgh_new_password'|translate}}</label>
			<input type="password" placeholder="{{'Xgh_new_password'|translate}}" name="newPassword"
		ng-model="vm.newPassword"
		placeholder="{{'SETTING.PASSWORD_NEW' | translate}}"
		ng-change="vm.doubleCheckPassword(vm.newPassword, vm.newPassword2); PasswordHasStandards(vm.newPassword);">
			<p ng-if="error_password"><span class="error" ><span class="text-error"></span>{{'MESSAGE.LENGTH_ERROR'|translate}}</p>
			<label>{{'Xgh_qr_new_password'|translate}}</label>
			<input type="password" placeholder="{{'Xgh_qr_new_password'|translate}}" name="newPassword"
		ng-model="vm.newPassword2"
		placeholder="{{'SETTING.PASSWORD_DOUBLE' | translate}}"
		ng-change="vm.doubleCheckPassword(vm.newPassword, vm.newPassword2)">
			<p class="error" ng-if="doubleCheck.password==false && doubleCheck.verify==false">
		<span class="text-error"></span>{{ 'SETTING.PASSWORD_NO_MA' | translate }}</p>
			<p><!--报错信息，清空p标签内容，不可隐藏--></p>
			<input type="submit" value="{{'Xgh_Submission'|translate}}" class="btn login_btn" ng-disabled="!doubleCheck.verify" />
		</div>
	</form>
</div>