<div class="common-main" auto-height>
    <div class="common-main-title">
        <div class="container">
            <span class="zh-title">{{'TRADE_SAFE_TITLE'|translate}}</span>
            <span class="en-title hidden-xs"><span class="line">|</span>Trade Security Setting</span>
        </div>
    </div>
    <div class="container">
        <div class="verify-content radio-content">
            <div class="radio">
                <label>
                    <input style="margin-left: -68px;" type="radio" name="optionsRadios"  value="option1" ng-checked="verify.TRANS.safety_way==null" ng-change="radioClick()" ng-value="9" ng-model="security">
                    <span>{{'PASS_OPTION_ONLY'|translate}}</span>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios"  value="option2" ng-checked="verify.TRANS.safety_way=='0'" ng-change="radioClick()" ng-value="0" ng-model="security">
                    <span>{{'PASS_OPTION_CODE'|translate}}</span>
                </label>
            </div>

            <div class="form-group clearfix group-mid">
                <div class="col-sm-6 verify-btn nofloat">
                    <button class="col-sm-6 btn btn-submit" ng-disabled="!buttondefault" ng-click="secSubmit()">{{'SAFE_LOGIN_SUBMIT'|translate}}</button>
                </div>
            </div>

        </div>
    </div>
</div>