<div class="common-main">
    <div class="common-main-title">
        <div class="container">
            <span class="zh-title">{{'FOOTER.ABOUT_US'|translate}}</span>
            <span class="en-title hidden-xs"><span class="line">|</span>ABOUT US</span>
        </div>
    </div>
    <div class="container account-main"  ng-if="language=='zh'">
        <div class="detail-main">
            <div class="fund">
                <h4>平台简介</h4>
                <div class="help-image">
                    <p>RightBTC是国际领先的数字资产管理平台，专业团队通过多级风控制度，严格筛选全球具有较高投资价值的数字资产，并不断在平台上推出优秀的投资品种，利用我们对金融及区块链的深刻理解，来帮助投资者进行更合理有效的数字资产配置。
                    </p>
                </div>

                <h4>平台安全</h4>

                <div class="help-image">
                    <p>我们将利用技术优势，持续优化平台操作流程，严格保证交易系统的稳定性及安全性，确保投资人能够快速、及时、安全的进行数字资产的存取及交易。为了保障平台安全，我们将采用：</p>
                    <p> 1.银行级别的SSL加密传输</p>
                    <p> 保障用户的信息安全，确保用户数据不会被恶意篡改或盗取。</p>

                    <p> 2.数字货币冷存储</p>
                    <p>  采用冷钱包，将用户的数字资产存储在离线环境中，以确保资金安全。</p>

                    <p> 3.分布式服务器集群</p>
                    <p> 采用分布式集群技术，在多个数据中心拥有服务器，以便进行负载均衡，确保平台的稳定性。</p>
                </div>

                <h4>团队背景</h4>
                <div class="help-image">
                    <p>我们的技术团队主要来自多家一线互联网公司，在金融交易方面则有来自外资银行及证券公司的专家，团队成员在技术和交易产品方面均积累了多年经验。我们将利用我们所长，持续地为投资人提供最专业、优质的数字资产管理服务。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container account-main"  ng-if="language=='en'">
        <div class="detail-main">
            <div class="fund">
                <h4>Platform Introduction</h4>
                <div class="help-image">
                    <p>RightBTC is a leading global digital assets management platform.By leveraging a multiple risk control system, our professional team strictly screens digital assets that have higher
                        investment value at home and abroad. Moreover, we are committed to constantly introducing an excellent variety of investments in accordance with our in-depth understanding in finance and blockchain. We aim to help investors allocate their digital assets more reasonably.</p>
                </div>

                <h4>Platform Safety</h4>

                <div class="help-image">
                    <p>We make use of technological advantages to continuously optimize operation procedures for the platform, strictly guaranteeing the stability and safety of our trading system and making sure investors can deposit, withdraw, and make transactions quickly and safely.</p>

                    <p>1.Bank-level SSL Encryption Transmission</p>
                    <p>Guarantees the safety of users’ information, and makes sure users’ data will not be tampered with or stolen.</p>

                    <p>2.Digital Currencies’ Cold Storage</p>
                    <p>We store users’ digital assets in offline environments by using a cold wallet in order to guarantee the safety of capital.</p>

                    <p>3.Distributed Server Cluster</p>
                    <p>We have servers in several data centers. We have adopted distributed cluster technology to optimize load balancing and ensure the stability of the platform. </p>
                </div>

                <h4>Background of Our Team </h4>
                <div class="help-image">
                    <p>Our technical team members, who bring with them many years of experience, are mainly from well respected internet companies. They are experts focusing on financial transactions from foreign-invested banks and stock exchanges. We will make use of our advantages to constantly provide investors with the most professional and high-quality digital asset management service.
                    </p>
                </div>
                <h4>Internationalization</h4>
                <div class="help-image">
                    <p>In the future we will set up an international station, building RightBTC.com into an international digital assets management platform.</p>
                </div>
            </div>
        </div>
    </div>
</div>

