<div class="common-main">
    <div class="common-main-title">
        <div class="container">
            <span class="zh-title" ng-if="language=='zh'">法律与声明</span>
            <span class="en-title"><span class="line" ng-if="language=='zh'">|</span>LEGAL</span>
        </div>
    </div>
    <div class="container account-main" ng-if="language=='zh'">
        <div class="detail-main">
            <div class="fund">
                <h4>第一条</h4>
                <div class="help-image">
                    <p>本网站的宗旨是在不违反中华人民共和国法律法规的前提下，尽可能地为广大电子货币爱好者及投资者提供专业的国际化水准的
                        交易平台和金融产品。禁止使用本网站从事洗钱、走私、商业贿赂等一切非法交易活动，若发现此类事件，本站将冻结账户，立即报送公安机关。</p>
                </div>

                <h4>第二条</h4>
                <div class="help-image">
                    <p>当公安机关、检察院、法院等有权机关出示相应的调查文件要求本站配合对指定用户进行调查时，或对用户账户采取查封、冻结
                        或者划转措施时，本站将按照公安机关的要求协助提供相应的用户数据，或进行相应的操作。因此而造成的用户隐私泄露、账户 不能操作及因此给所造成的损失等，本站不承担任何责任。</p>
                </div>

                <h4>第三条</h4>
                <div class="help-image">
                    <p>本网站使用者因为违反本声明的规定而触犯中华人民共和国法律的，本站做为服务的提供方，有义务对平台的规则及服务进行完善，
                        但本站并无触犯中华人民共和国法律的动机和事实，对使用者的行为不承担任何连带责任。</p>

                </div>
                <h4>第四条</h4>
                <div class="help-image">
                    <p>凡以任何方式登陆本网站或直接、间接使用本网站服务者，视为自愿接受本网站声明的约束。</p>
                </div>

                <h4>第五条</h4>
                <div class="help-image">
                    <p>本声明未涉及的问题参见中华人民共和国有关法律法规，当本声明与中华人民共和国法律法规冲突时，以中华人民共和国法律法规为准。
                        本网站使用者因为违反本声明的规定而触犯中华人民共和国法律的，一切后果自己负责，本网站不承担任何责任；</p>

                </div>
            </div>
        </div>
    </div>
    <div class="container account-main" ng-if="language=='en'">
        <div class="detail-main">
            <div class="fund">
                <h4>Article 1</h4>
                <div class="help-image">
                    <p>The purpose of this web site is to provide a professional and international trading platform, with the inclusion of financial products, for the vast numbers of cryptocurrency enthusiasts and investors without violating the laws and regulations of the People's Republic of China. Money laundering, smuggling, commercial bribery and all other illegal trading activities are prohibited.
                        If such incidents are found, the site will freeze the account and immediately submit it to the Ministry of Public Security. </p>
                </div>

                <h4>Article 2</h4>
                <div class="help-image">
                    <p>If the Ministry of Public Security, a prosecutorial office, the courts or other authorities request the website to produce the appropriate investigation documents, take seizure of a user account, or freeze a transfer, the site will act in accordance with the requirements and will provide the corresponding user data. The site does not assume any responsibility for the privacy, or loss of an account due to their actions.</p>
                </div>

                <h4>Article 3</h4>
                <div class="help-image">
                    <p>In order to provide the perfect service for our users, we are committed to improve the platform's rules and services without violating the laws of the People's Republic of China. If the users of this website violate the provisions of this statement they also violate the laws of the People's Republic of China. The website does not assume any joint responsibility for the actions of the user.</p>

                </div>
                <h4>Article 4</h4>
                <div class="help-image">
                    <p>Any person who lands on this website or uses the web site directly or indirectly shall be deemed to have voluntarily accepted the terms and conditions of this web site.
                    </p>
                </div>

                <h4>Article 5
                </h4>
                <div class="help-image">
                    <p>For all eventualities not covered in this declaration, please refer to the laws and regulations of the People’s Republic of China. In cases of conflicts, the laws and regulations of the People’s Republic of China shall prevail. Members of this website who violate the provisions of this statement or violate the laws of the People's Republic of China, shall solely bear all consequences. This website does not assume any responsibility.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>

