<div class="common-main">
    <div class="common-main-title">
        <div class="container">
            <span class="zh-title" ng-if="language=='zh'">用户条例</span>
            <span class="en-title"><span class="line" ng-if="language=='zh'">|</span>TERMS</span>
        </div>
    </div>
    <div class="container account-main" ng-if="language=='zh'">
        <div class="detail-main">
            <div class="fund">
                <div class="help-image">
                    <p>
                        海枫藤(szzc.com)所提供的各项服务的所有权和运作权均归上海若灵软件技术有限公司（以下简称"海枫藤"）所有。海枫藤用户使用协议（以下简称"本协议"）系由海枫藤用户与海枫藤就海枫藤的各项服务所订立的相关权利义务规范。用户通过访问和使用本网站，即表示接受并同意本协议的所有条件和条款。海枫藤作为海枫藤(szzc.com)的运营者依据本协议为用户提供服务。不愿接受本协议条款的，不得访问或使用本网站。</p>
                    <p>海枫藤有权对本协议条款进行修改，修改后的协议一旦公布即有效代替原来的协议。用户可随时查阅最新协议。</p>
                </div>

                <h4>一、 定义条款</h4>
                <div class="help-image">

                    <p>1、“比特币”：一种国际上目前通行的虚拟货币（bitcoin，简称BTC）。</p>

                    <p>2、发布和更新的法律条款和操作规则、通过海枫藤进行比特币交易的海枫藤注册会员。</p>

                    <p> 3、“用户注册”：用户注册是指用户登录海枫藤，并按要求填写相关信息并确认同意履行相关用户协议的过程。</p>

                    <p>4、“比特币交易”：用户通过海枫藤进行的比特币交易活动。</p>

                    <p>5、“充值款”：用户为购买比特币/出售比特币而向海枫藤平台预充入的法币/比特币的款项。</p>

                    <p>6、“手续费”：用户在海枫藤达成比特币交易而向海枫藤支付的交易服务费用。</p>
                </div>

                <h4>二、服务内容</h4>
                <div class="help-image">
                    <p>1、海枫藤运用自己的系统，通过互联网络等方式为用户提供比特币交易服务。</p>

                    <p>
                        2、用户必须自行准备如下设备和承担如下开支：（1）上网设备，包括并不限于电脑或者其他上网终端、调制解调器及其他上网装置；（2）上网开支，包括并不限于网络接入费、上网设备租用费、手机流量费等。</p>

                    <p>3、用户提供的注册资料，用户同意：（1）提供合法、真实、准确、详尽的个人资料；
                        （2）如有变动，及时更新用户资料。如果用户提供的注册资料不合法、不真实、不准确、不详尽的，用户需承担因此引起的相应责任及后果，并且海枫藤保留终止用户使用海枫藤各项服务的权利。</p>
                </div>

                <h4>三、服务的提供、修改及终止</h4>
                <div class="help-image">
                    <p>1、用户在接受海枫藤各项服务的同时，同意接受海枫藤提供的各类信息服务。用户在此授权海枫藤可以向其电子邮件、手机、通信地址等发送商业信息，并进入海枫藤相关页面进行更改。</p>

                    <p>2、海枫藤保留随时修改或中断服务而不需通知用户的权利。海枫藤有权行使修改或中断服务的权利，不需对用户或任何无直接关系的第三方负责。</p>

                    <p>3、用户对本协议的修改有异议，或对海枫藤的服务不满，可以行使如下权利：
                        （1）停止使用海枫藤的网络服务；
                        （2）通过客服等渠道告知海枫藤停止对其服务。结束服务后，用户使用海枫藤络服务的权利立即终止。在此情况下，海枫藤没有义务传送任何未处理的信息或未完成的服务给用户或任何无直接关系的第三方。</p>
                </div>
                <h4>四、用户信息的保密</h4>
                <div class="help-image">
                    <p>1、本协议所称之海枫藤用户信息是指符合法律、法规及相关规定，并符合下述范围的信息：
                        （1）用户注册海枫藤或申请海枫藤会员时，向海枫藤提供的个人信息；
                        （2）用户在使用海枫藤服务、参加网站活动或访问网站网页时，海枫藤自动接收并记录的用户浏览器端或手机客户端数据，包括但不限于IP地址、网站Cookie中的资料及用户要求取用的网页记录；
                        （3）海枫藤从商业伙伴处合法获取的用户个人信息；
                        （4）其它海枫藤通过合法途径获取的用户个人信息。</p>

                    <p>2、海枫藤承诺：

                        非经法定原因或用户事先许可，海枫藤不会向任何第三方透露用户的密码、姓名、手机号码等非公开信息。</p>

                    <p>3、在下述法定情况下，用户的个人信息将会被部分或全部披露：
                        （1）经用户同意向用户本人或其他第三方披露；
                        （2）根据法律、法规等相关规定，或行政机构要求，向行政、司法机构或其他法律规定的第三方披露；
                        （3）其它海枫藤根据法律、法规等相关规定进行的披露。</p>
                </div>
                <h4>五、用户资格</h4>
                <div class="help-image">
                    <p>通过使用本网站，用户需要声明并保证：
                        （1）具有用户所在国合法年龄以形成具有约束力的合约（在大部分国家至少为18岁）。
                        （2）不是美国居民。
                        （3）如果用户所在国存在任何法律禁止其遵照这些条款，将不会使用我们的服务。
                    </p>
                </div>

                <h4>六、用户权利</h4>
                <div class="help-image">
                    <p>1、用户的用户名、密码和安全性
                        （1）用户有权选择是否成为海枫藤会员，用户选择成为海枫藤注册用户的，可自行创建、修改昵称。用户名和昵称的命名及使用应遵守相关法律法规并符合网络道德。用户名和昵称中不能含有任何侮辱、威胁、淫秽、谩骂等侵害他人合法权益的文字。
                        （2）用户一旦注册成功，成为海枫藤的会员，将得到用户名（手机号或邮箱）和密码，并对以此组用户名和密码登入系统后所发生的所有活动和事件负责，自行承担一切使用该用户名的言语、行为等而直接或者间接导致的法律责任。
                        （3）用户有义务妥善保管海枫藤账号，包括但不限于用户名、登陆密码、支付密码、短信验证码、谷歌验证码等，用户将对用户名、登陆密码、支付密码、短信验证码和谷歌密钥等的安全负全部责任。因用户原因导致用户名和登陆密码、支付密码、短信验证码和谷歌密钥等信息的泄露而造成的任何法律后果由用户本人负责，由于用户自身原因泄露这些信息导致的财产损失，本站不负相关责任。由于本站是交易网站，登录密码、支付密码、谷歌密码等不得使用相同密码，否则会有安全隐患，相关责任由用户自身承担。
                        （4）用户密码遗失的，可以通过注册电子邮箱发送的链接重置密码，以手机号码注册的用户可以凭借手机号码找回原密码。用户若发现任何非法使用用户名或存在其他安全漏洞的情况，应立即告知海枫藤。
                        （5）海枫藤不会向任何用户索取密码，不会让用户往任何非本站交易中心里提供的帐户、BTC或其他数字货币充值地址打款，请大家不要相信任何海枫藤打折、优惠等诈骗信息，往非BTC或其他数字货币交易中心提供的账户、地址里打款或币造成的损失本站不负责任。
                    </p>

                    <p>2、用户有权根据网站相关规定，在发布信息等贡献后，取得海枫藤给予的奖励；</p>

                    <p>3、用户有权修改其个人账户中各项可修改信息，自行选择昵称和录入介绍性文字，自行决定是否提供非必填项的内容；</p>

                    <p>4、用户有权参加海枫藤社区，并发表符合国家法律规定，并符合海枫藤社区规则的文章及观点；</p>

                    <p>5、用户有权根据网站相关规定，获得海枫藤给予的奖励（如VIP积分、徽章等）；</p>

                    <p>6、用户有权参加海枫藤组织提供的各项线上、线下活动；</p>

                    <p>7、用户有权根据海枫藤网站规定，享受海枫藤提供的其它各类服务。</p>

                </div>

                <h4>七、用户义务</h4>
                <div class="help-image">
                    <p> 1、不得利用本站危害国家安全、泄露国家秘密，不得侵犯国家社会集体的和公民的合法权益，不得利用本站制作、复制和传播下列信息：
                        （1）煽动抗拒、破坏宪法和法律、行政法规实施的；
                        （2）煽动颠覆国家政权，推翻社会主义制度的；
                        （3）煽动分裂国家、破坏国家统一的；
                        （4）煽动民族仇恨、民族歧视，破坏民族团结的；
                        （5）捏造或者歪曲事实，散布谣言，扰乱社会秩序的；
                        （6）宣扬封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；
                        （7）公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；
                        （8）损害国家机关信誉的；
                        （9）其他违反宪法和法律行政法规的；
                        （10）进行商业广告行为的。
                    </p>

                    <p>
                        2、用户不得通过任何手段恶意注册海枫藤网站帐号，包括但不限于以牟利、炒作、套现、获奖等为目的多个账号注册。用户亦不得盗用其他用户帐号。如用户违反上述规定，则海枫藤有权直接采取一切必要的措施，包括但不限于删除用户发布的内容、取消用户在网站获得的等级、荣誉以及虚拟财富，暂停或查封用户帐号，取消因违规所获利益，乃至通过诉讼形式追究用户法律责任等。</p>

                    <p>
                        3、禁止用户将海枫藤以任何形式作为从事各种非法活动的场所、平台或媒介。未经海枫藤的授权或许可，用户不得借用本站的名义从事任何商业活动，也不得以任何形式将海枫藤作为从事商业活动的场所、平台或媒介。如用户违反上述规定，则海枫藤有权直接采取一切必要的措施，包括但不限于删除用户发布的内容、取消用户在网站获得的等级、荣誉以及虚拟财富，暂停或查封用户帐号，取消因违规所获利益，乃至通过诉讼形式追究用户法律责任等。</p>

                    <p>
                        4、用户在海枫藤以各种形式发布的一切信息，均应符合国家法律法规等相关规定及网站相关规定，符合社会公序良俗，并不侵犯任何第三方主体的合法权益，否则用户自行承担因此产生的一切法律后果，且海枫藤因此受到的损失，有权向用户追偿。</p>

                </div>

                <h4>八、AML（反洗钱）/ KYC（充分了解你的客户）政策</h4>
                <div class="help-image">
                    <p>海枫藤的AML及KYC政策旨在通过符合中国反洗钱法的义务来防止洗钱，包括建立适当的系统和控制措施，以减小平台被用于金融犯罪的风险，这个标准包括：</p>

                    <p>1、指定相关工作人员负责监督有关行业法律法规，并对公司的洗钱和恐怖主义融资风险进行评估和管理。</p>

                    <p>2、建立针对有潜在风险的客户的KYC程序，通过对用户数据进行检查来合理识别每个用户，这些用户数据与政府监视列表以及身份验证服务相结合。</p>

                    <p>3、对监控到的可疑活动，会酌情汇报给相关监管机构。</p>

                    <p>4、对所有相关员工进行相关培训和指导。</p>

                </div>

                <h4>九、版权及其它知识产权</h4>
                <div class="help-image">
                    <p>
                        1、海枫藤网站上包含的包括但不限于网站标志、商标、文字、图表、数据、软件、照片、声音及相关源代码的知识版权，均归海枫藤所有，受中国和国际版权法及其它知识产权保护法的保护，未经海枫藤许可，其他人不得擅自使用。</p>

                    <p>2、用户在海枫藤上以任何形式发表的信息，包括但不限于：复制权、发行权、网络信息传播去、改编权、翻译权、摄制权、展览权以及其它由著作权人享有的可转让权利均无偿转让给海枫藤所有。</p>

                </div>

                <h4>十、拒绝担保与免责</h4>
                <div class="help-image">

                    <p>
                        1、海枫藤作为“网络服务提供者”的第三方平台，不担保网站平台上的信息及服务能充分满足用户的需求。对于用户在接受海枫藤的服务过程中可能遇到的错误、侮辱、诽谤、不作为、淫秽、色情或亵渎事件，海枫藤不承担法律责任。</p>

                    <p>
                        2、基于互联网的特殊性，海枫藤也不担保服务不会受中断，对服务的及时性、安全性都不作担保，不承担非因海枫藤导致的责任。海枫藤力图使用户能对本网站进行安全访问和使用，但海枫藤不声明也不保证本网站或其服务器是不含病毒或其它潜在有害因素的；因此用户应使用业界公认的软件查杀任何自海枫藤下载文件中的病毒。</p>

                    <p>3、海枫藤不对用户所发布信息的保存、修改、删除或储存失败负责。对网站上的非因海枫藤故意所导致的排字错误、疏忽等不承担责任。海枫藤有权但无义务，改善或更正本网站任何部分之疏漏、错误。</p>

                    <p>
                        4、除非海枫藤以书面形式明确约定，海枫藤对于用户以任何方式（包括但不限于包含、经由、链接或下载）从本网站所获得的任何内容信息，包括但不限于广告等，不保证其准确性、完整性、可靠性；对于用户因本网站上的内容信息而购买、获取的任何产品、服务、信息或资料，海枫藤不承担责任。用户自行承担使用本网站信息内容所导致的风险。</p>

                    <p>5、海枫藤内所有用户所发表的用户评论，仅代表用户个人观点，并不表示本网站赞同其观点或证实其描述，本网站不承担用户评论引发的任何法律责任。</p>

                    <p>6、海枫藤有权删除海枫藤内各类不符合法律或协议规定的信息，并保留不通知用户的权利。</p>

                    <p>7、所有发给用户的通告，海枫藤都将通过正式的页面公告、站内信、电子邮件、客服电话、手机短信或常规的信件送达。任何非经海枫藤正规渠道获得的中奖、优惠等活动或信息，海枫藤不承担法律责任。</p>

                    <p>8、海枫藤有权根据市场情况调整充值、提现、交易等手续费费率，有权决定免费推广期的终止。</p>

                </div>

                <h4>十一、特别声明</h4>
                <div class="help-image">
                    <p>
                        在法律允许的范围内，不论在何种情况下，海枫藤对由于信息网络设备维护、信息网络连接故障、电脑、通讯或其他系统的故障、电力故障、罢工、劳动争议、暴乱、起义、骚乱、生产力或生产资料不足、火灾、洪水、风暴、爆炸、战争、政府行为、司法行政机关的命令、其他不可抗力或第三方的不作为而造成的不能服务或延迟服务，以及用户因此而遭受的损失不承担责任。</p>

                </div>

                <h4>十二、风险提示</h4>
                <div class="help-image">
                    <p>1、比特币及其它数字货币交易有极高的风险。
                        （1）比特币及其它数字货币市场是全新的、未经确认的，而且可能不会增长。目前，比特币及其它数字货币主要由投机者大量使用，零售和商业市场使用相对较少，因此比特币及其它数字货币价格易产生波动，并进而对比特币或其它数字货币等投资产生不利影响。
                        （2）比特币及其它数字货币市场没有像中国股市那样的涨跌停限制，同时交易是24小时开放的。比特币及其它数字货币由于筹码较少，价格易受到庄家控制，有可能出现一天价格涨几倍的情况，同时也可能出现一天内价格跌去一半的情况。
                    </p>

                    <p>2、参与比特币或其它数字货币交易，用户应当自行控制风险，评估比特币或其它数字货币投资价值和投资风险，承担损失全部投资的经济风险。</p>

                    <p>3、因国家法律、法规和规范性文件的制定或者修改，导致比特币或其它数字货币的交易被暂停、或者禁止的，因此造成的经济损失全部由用户自行承担。</p>

                </div>

                <h4>十三、适用法律和裁判地点</h4>
                <div class="help-image">
                    <p>1、因用户使用海枫藤站而引起或与之相关的一切争议、权利主张或其它事项，均受中华人民共和国法律的管辖。</p>

                    <p>2、用户和海枫藤发生争议的，应首先本着诚信原则通过协商加以解决。如果协商不成，则应向海枫藤所在地人民法院提起诉讼。</p>

                </div>

                <h4>十四、可分性</h4>
                <div class="help-image">
                    <p>如果本协议的任何条款被视为不合法、无效或因任何原因而无法执行，则此等规定应视为可分割，不影响任何其它条款的法律效力。</p>

                </div>
                <h4>十五、冲突选择</h4>
                <div class="help-image">
                    <p>本协议是海枫藤与用户注册成为海枫藤用户，使用海枫藤服务之间的重要法律文件，海枫藤或者用户的任何其他书面或者口头意思表示与本协议不一致的，均应当以本协议为准。</p>

                </div>

                <h4>十六、协议的生效和解释</h4>
                <div class="help-image">
                    <p>本协议于用户点击海枫藤注册页面的同意注册并完成注册程序、获得海枫藤账号和密码时生效，对海枫藤和用户均具有约束力。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container account-main" ng-if="language=='en'">
        <div class="detail-main">
            <div class="fund">
                <div class="help-image">
                    <p>The ownership and operation of the services provided by szzc.com are owned by Shanghai Ruoling
                        Software Technology Co., Ltd. The szzc.com User Agreement (hereinafter referred to as "the
                        Agreement") is governed by the relevant rights and obligations between szzc.com users and
                        szzc.com, regarding the services of szzc.com. By accessing and using this website, the user
                        accepts and agrees to all the terms and conditions of this Agreement. Those who are unwilling to
                        accept the terms and conditions of this Agreement should not visit or use this website.</p>
                    <p>Szzc.com has the right to modify the terms of this agreement. If modified, the revised agreement
                        will be effective as soon as it is published. Users can access the latest version of the
                        Agreement at any time.</p>
                </div>

                <h4>1、Definition Clause:</h4>
                <div class="help-image">
                    <p>1、“Bitcoin” (BTC): One of the most popular cryptocurrencies in the world.</p>
                    <p>2、The release and update of laws and regulations will be conducted through szzc.com. “Transaction
                        Fee”: Fees paid by szzc.com users to szzc.com for transactions.</p>
                    <p>3、”User registration”: This refers to the user login registration for szzc.com, filling in the
                        relevant information as required and agreeing to fulfill the relevant user agreement.</p>
                    <p>4、“Bitcoin Exchange”: Where users conduct bitcoin trading activities through szzc.com.</p>
                    <p>5、“Deposit Amount”: The amount of fiat money and/or crypto money deposited by the user into the
                        szzc.com platform for the purchase of trading.</p>
                    <p>6、“Transaction Fee”: Fees paid by szzc.com users to szzc.com for transactions.</p>
                </div>

                <h4>2、Service Content</h4>
                <div class="help-image">
                    <p>1、Szzc.com uses its own system to provide cryptocurrency trading services for users through the
                        internet.</p>

                    <p>2、Users must prepare the following equipment and bear the following expenses: (1) Internet
                        devices, including but not limited to computers or other Internet terminals, modems, and other
                        Internet devices; (2) Internet expenses, including but not limited to network access fees,
                        internet equipment rental fees, mobile phone traffic fees, etc.</p>

                    <p>3、By providing their registration information, users agree: (1) to provide legal, authentic,
                        accurate and detailed personal information; (2) to update the information in a timely manner if
                        there is any change. If the registration information provided by the user is illegal, untrue,
                        inaccurate, or not detailed, the user shall bear the corresponding responsibilities and
                        consequences accordingly, and szzc.com reserves the right to terminate the users' use of
                        szzc.com services.</p>
                </div>

                <h4>3、Provision, modification and termination of services</h4>
                <div class="help-image">
                    <p>1、When users are receiving szzc.com services, they also agree to accept the information services
                        provided by szzc.com. Users hereby authorize szzc.com to send business information to the user's
                        email, mobile phone, mailing address, etc. Users can update whether they accept to receive these
                        information in the relevant page of szzc.com .
                    </p>

                    <p>2、Szzc.com reserves the right to modify or discontinue services at any time without notifying the
                        user. Szzc.com also reserves the right to modify or discontinue services without being
                        responsible to the user or to any third party that is not directly connected.
                    </p>

                    <p>3、If the user has any objection to the amendment to this agreement or is dissatisfied with the
                        service of szzc.com, the following rights may be exercised: (1) cease using szzc.com network
                        services; (2) contact szzc.com through customer service and other channels to stop service.
                        After the end of the service, the user's right to use szzc.com services immediately terminate.
                        In this case, szzc.com is under no obligation to transmit any unprocessed information or
                        unfinished service to the user or any third party that is not directly related.
                    </p>
                </div>
                <h4>4、Confidentiality of User Information</h4>
                <div class="help-image">
                    <p>1、The term "user’s information" that has been mentioned in this agreement refers to information
                        that complies with laws, regulations and relevant stipulations and meets the following scope:
                        (1) personal information provided to szzc.com when the user registers; (2) information
                        automatically received and recorded when users use szzc.com services from the user's browser or
                        mobile device, or visit relevant szzc.com web pages; this collected information may include, but
                        is not limited to, the IP address, Cookies, website data, a record of the page requested by the
                        user, and more; (3) personal information that szzc.com legally obtained from a business partner;
                        (4) other personal information obtained through legal means.
                    </p>

                    <p>2、szzc.com will not disclose any confidential information such as password, name, or cell phone
                        number to any third party without legal reason or user's prior permission.
                    </p>

                    <p>3、In the case of the following statutory circumstances, the user's personal information will be
                        partially or fully disclosed: (1) disclosure to the user themself or to other third parties upon
                        the user consent; (2) disclosure to administrative, judicial or other legal third parties in
                        accordance with the relevant provisions of laws, regulations, and other stipulations or
                        administrative requirements; (3) other disclosures in accordance with relevant laws, regulations
                        and other relevant stipulations.
                    </p>
                </div>
                <h4>5、User Qualification
                </h4>
                <div class="help-image">
                    <p>By using this site, users need to declare and guarantee: (1) that the user is of the legal age to
                        form a binding contract in the user's country (in most countries, at least 18 years old); (2)
                        that the user is not a resident of the United States; (3) szzc.com service will not be used if
                        the user's country has any laws prohibiting them from following the Agreement's terms.
                    </p>
                </div>

                <h4>6、Rights of the Users
                </h4>
                <div class="help-image">
                    <p>1、Username, password and security:
                        (1) users have the right to choose whether to become a szzc.com member or not, and users who
                        choose to become registered users of szzc.com can create and modify their own usernames. The
                        naming and use of usernames shall comply with relevant laws and regulations and shall be in line
                        with network ethics. Usernames cannot contain any insults, threats, obscenity, abuse, or other
                        violations of the legitimate rights and legal text. (2) once the user has registered
                        successfully, he will become a member of szzc.com, and the user name (mobile number or email
                        address) and password will be obtained. Users are responsible for all the activities and events
                        that occur after entering into the system with the user's username and password. The user shall
                        bear all the legal liabilities directly or indirectly resulting from the words, actions, etc.
                        completed under the logged in username. (3) the user has the obligation to properly keep the
                        szzc.com account information, including but not limited to the username, login password, payment
                        password, SMS verification code, Google verification code, etc. Users will be responsible for
                        the username, login password, payment password, SMS authentication code and Google key security.
                        Any legal consequences arising from the user’s disclosure of the username and login password,
                        payment password, SMS verification code, and Google key are the user's own responsibility. The
                        site does not bear any responsibility in case of loss of property caused by the disclosure of
                        the information by the users’ themselves. As the site is a trading site, login password, payment
                        password, Google password, etc. shall not be the same. Otherwise there will be security risks.
                        Any related responsibilities will be upheld by the user. (4) If the user's password is lost, the
                        password can be reset by the link sent to the registered e-mail address. Users who register with
                        the mobile number can retrieve the original password to their mobile number. If the user finds
                        any illegal use of the username or the existence of other security vulnerabilities, the user
                        should immediately inform szzc.com. (5) szzc.com will neither ask for any user's password, nor
                        allow users to deposit BTC or other crypto currencies to addresses which are not provided by
                        szzc.com. Please do not believe any fraudulent szzc.com discounts, promotions, etc. Szzc.com
                        takes no responsibility if users loose assets by depositing BTC or other cryptocurrencies to
                        addresses which are provided by other trading centers.
                    </p>

                    <p>2、The user has the right to obtain szzc.com awards according to the relevant regulations of the
                        website and after the publication of information and other contributions.</p>

                    <p>3、The user has the right to modify the individual account within the bounds of editable
                        information: choosing their own username, entering the introductory text, and deciding whether
                        to provide non mandatory content.</p>

                    <p>4、Users have the right to participate in the szzc.com community and publish articles and views
                        that comply to national laws and the szzc.com community rules.</p>

                    <p>5、According to the relevant provisions of the website, users have the right to obtain awards
                        given by szzc.com (such as VIP points, badges, etc.)</p>

                    <p>6、 The user has the right to participate in the online and offline activities provided by the
                        szzc.com.</p>

                    <p>7、 Users have the right to enjoy other services provided by szzc.com.</p>

                </div>

                <h4>7、Obligations of the Users</h4>
                <div class="help-image">
                    <p> 1、Users shall not use this website to endanger state security or to divulge state secrets, shall
                        not violate the legitimate rights and interests of the national community and/or citizens. The
                        following information shall not be produced, reproduced or transmitted through szzc.com: (1)
                        Inciting, resisting or destroying the constitution, laws or administrative regulations; (2)
                        inciting subversion of state power and/or overthrowing the socialist system; (3) instigating the
                        split of the state and/or undermining the unity of the state; (4) inciting national hatred,
                        ethnic discrimination, and/or destruction of national unity; (5) fabricating or distorting
                        facts, and/or spreading rumors or disturbing social order; (6) promoting feudal superstition,
                        obscenity, pornography, gambling, violence, murder, terror, and/or and abetting crimes; (7)
                        blatantly insulting others or fabricating facts to slander others, and/or conducting other
                        malicious attacks; (8) damage to the credibility of state organs; (9) other violations of the
                        constitution, laws and administrative regulations; (10) conducting commercial advertising.
                    </p>
                    <p>2、Users shall not register multiple accounts for malicious purposes such as, but not limited to
                        profiteering, speculation, cash out or winning awards. Users shall not use other user's
                        accounts. If the user violates the above statute, szzc.com has the right to take all necessary
                        measures directly, including but not limited to deleting the user's published content,
                        cancelling the user's rank, credit and virtual wealth on the site, suspending or seizing the
                        user's account, cancelling benefits gained by irregularities. Szzc.com can even investigate the
                        user's legal liability through form of litigation, etc.
                    <p>3、Users are prohibited use szzc.com as a place, platform, or agent for engaging illegal activity
                        purposes. . Without the authorization or permission of szzc.com, the user shall not engage in
                        any commercial activities under the name of the website, nor shall any form of szzc.com be used
                        as a place, platform or agent for commercial activities. If the user violates the above
                        requirements, szzc.com has the right to take all necessary measures directly, including but not
                        limited to deleting the user's published content, cancelling the user's rank, credit and virtual
                        wealth on the site, suspending or seizing the user's account, cancelling benefits gained by
                        irregularities. Szzc.com can even investigate the user's legal liability through form of
                        litigation, etc.</p>
                    <p>4、All of the information that has been published by the users in szzc.com shall comply with the
                        relevant laws and regulations of the state and other relevant provisions of the website, shall
                        be in accordance with social public order and good customs, and shall not infringe upon the
                        legitimate rights and interests of any third party entity, otherwise the user shall bear all the
                        legal consequences and shall recover any losses of szzc.com.
                    </p>
                </div>

                <h4>8、AML (Anti-Money Laundering) / KYC (Know Your Customer) Policy</h4>
                <div class="help-image">
                    <p>The AML and KYC policies of szzc.com are designed to prevent money laundering by meeting the
                        standards of the China Anti-Money Laundering Act, including the establishment of appropriate
                        systems and controls to reduce the risk that platforms will beused for financial crime. This
                        standard includes:</p>

                    <p>1、Appointing relevant staff to oversee relevant industry laws and regulations and assess and
                        manage the company's money laundering and terrorist financing risks.
                    </p>

                    <p>2、Establishing a KYC program for potential customers to identify each user by examining user data
                        which are integrated with government monitoring lists and authentication services.
                    </p>

                    <p>3、Monitoring suspicious activities and appropriately reporting to the relevant regulatory
                        authorities.
                    </p>

                    <p>4、Providing training and guidance to all relevant staff.
                    </p>

                </div>

                <h4>9、Copyright and other Intellectual Property Rights</h4>
                <div class="help-image">
                    <p>
                        1、Szzc.com contains rights including, but not limited to, website logo, trademarks, text,
                        graphics, data, software, photos, sound and related source code. All are owned by szzc.com,
                        protected by China and international copyright laws and other intellectual property protection
                        laws, and may not be used by others without the permission of szzc.com.
                    </p>

                    <p>2、The rights include but are not limited to: the right of reproduction, the right of issue, the
                        right of transmission of information to the network, the right to make corrections, the right to
                        transfer, the right of reproduction, the right of exhibition of any information that is posted
                        in any form by the user on szzc.com will be transferred to szzc.com.
                    </p>

                </div>

                <h4>10、Refusal of Warranty and Exemption</h4>
                <div class="help-image">

                    <p>
                        1、As the third party platform of "Internet service provider", szzc.com does not guarantee that
                        the information and services on the website platform will fully meet the needs of users.
                        Szzc.com is not liable for errors, insults, defamation, omission, obscenity, pornography, or
                        blasphemy that may occur during the course of the user's receipt of szzc.com services.
                    </p>

                    <p>
                        2、Due to the peculiarities of the Internet, szzc.com does not guarantee the service will not be
                        interrupted, nor the timeliness and security of the service. Szzc.com is not liable for any
                        problems that it did not cause. Szzc.com seeks to enable users to access the site safely, but
                        szzc.com does not guarantee that the web site or its servers are free from viruses or other
                        potentially harmful factors; therefore, users should use industry recognized software to kill
                        any virus of files that are downloaded from szzc.com.
                    </p>

                    <p>3、Szzc.com is not responsible for the failure to save, modify, delete, or store the information
                        issued by the user. Szzc.com is not liable for typographical errors or omissions caused by
                        non-intentional behavior. Szzc.com has the right, but is not obliged to improve or correct
                        omission and errors on the site.
                    </p>

                    <p>
                        4、Unless szzc.com explicitly agrees in writing, szzc.com does not guarantee the accuracy,
                        integrity and reliability of the information that has been gained from the website (including
                        but not limited to content, liaisons, links, or downloads). Szzc.com shall not be held
                        responsible for any product, service, information or information purchased and obtained by the
                        user on the content of this website.
                    </p>

                    <p>5、The user comments issued by all users within szzc.com only represent the individual views of
                        the users, and do not indicate that the site agrees with their views or confirms their
                        communication. The website does not accept any legal responsibility arising from user comments.
                    </p>

                    <p>6、Szzc.com reserves the right to delete all information within the szzc.com that does not conform
                        to the law or Agreement, and reserves the right not to notify the user.
                    </p>

                    <p>7、All notifications to users will be delivered via official page announcements, station letters,
                        emails, customer service calls, text messages or regular letters from szzc.com. Szzc.com shall
                        not bear any legal responsibility for any information, such as award, promotions, offers or
                        other activity information, that have not been obtained by szzc.com regular channels.
                    </p>

                    <p>8、Szzc.com has the right to adjust the deposit, withdrawal, transaction and other fees according
                        to market conditions, and reserves the right to decide the termination timing of the free
                        promotion period.
                    </p>

                </div>

                <h4>11、Force Majeure</h4>
                <div class="help-image">
                    <p>
                        Szzc.com shall not be liable for delays, failure in performance or interruption of the service
                        if caused by the following: including, but not limited to, any delay or failure due to any act
                        of God, civil or military authorities, terrorism, civil disturbance, riots, war, flood, strike
                        or other labor dispute, fire, government, orders of the executive branch of the judiciary,
                        interruption in telecommunications or Internet services or network provider services, failure of
                        equipment and/or software, force majeure or non-action by third parties, catastrophe or any
                        other occurrence which is beyond our reasonable control.
                    </p>

                </div>

                <h4>12、Risk Warning</h4>
                <div class="help-image">
                    <p>1、Bitcoin and other digital currency transactions are highly risky. (1) Bitcoin and other digital
                        money markets are brand new, unconfirmed, and may not grow. At present, Bitcoin and other
                        digital currencies are mainly used by speculators. The use of retail and commercial markets is
                        relatively small, so the bitcoins and other digital currency prices can fluctuate, and thus
                        adversely affect bitcoin or other digital currency investment. (2) Bitcoin and other digital
                        currency markets are not as restrictive as the Chinese stock market, and the deal is open 24
                        hours a day. Bitcoin and other digital currencies are vulnerable to banker control because of
                        the limited number of coins. It is possible that prices multiply several times in one day, or
                        fall by half in one day.
                    </p>

                    <p>2、While participating in bitcoin or other digital currency transactions, users should control the
                        risk of their own transactions, evaluate bitcoin or other digital currency, investment value,
                        and investment risk. Users should be able to take economic risk of investment.
                    </p>

                    <p>3、As a result of the formulation or revision of state laws, regulations and normative documents,
                        transactions in bitcoin or other digital currencies can be suspended or prohibited, therefore
                        all of the economic losses are borne by the users themselves.
                    </p>

                </div>

                <h4>13、Governing Law and Place of Referee</h4>
                <div class="help-image">
                    <p>1、All disputes, claims or other matters arising out of or in connection with the use of szzc.com
                        are governed by the laws of the People's Republic of China.</p>

                    <p>2、Disputes between users and szzc.com should be resolved first through negotiation in good faith.
                        In case no settlement can be reached, the case shall then be brought to court where szzc.com is
                        located.
                    </p>

                </div>

                <h4>14、Separability</h4>
                <div class="help-image">
                    <p> If any term of this agreement is regarded as illegal, invalid or unenforceable due to other
                        reasons, the provisions should be considered as divisible; there will be no effect on the legal
                        force of other terms.</p>

                </div>
                <h4>15、Conflicts and Choices </h4>
                <div class="help-image">
                    <p>The agreement is an important legal document connecting szzc.com and its users. If other written
                        or verbal terms made by szzc.com or its users are inconsistent with this agreement, this
                        Agreement will prevail.
                    </p>

                </div>

                <h4>16、Validation and Interpretation of This Agreement</h4>
                <div class="help-image">
                    <p>The agreement comes into effect when users finish registration of szzc.com. It is legally binding
                        for both szzc.com and users.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>






