<!--收款账户弹出框-->
<div class="Popup New_bank_card Receivables" ng-cloak ng-show="buyPop">
    <!--填写信息-->
    <div class="card_bod">
        <h1>{{'CARD_RECEIVABLES_TITLE'|translate}}</h1>
        <ul>
            <li><span>{{'CARD_NAME_HM'|translate}}</span><input type="text" ng-value="account.real_name" disabled></li>
            <li><span>{{'CARD_BANK_NAME'|translate}}</span><input type="text" ng-value="account.bank_name" disabled>
            </li>
            <li><span>{{'CARD_BANK_YHKH'|translate}}</span><input type="text" ng-value="account.bank_account_no"
                                                                  disabled></li>
            <li><span>{{'CARD_MONEY_DK'|translate}}</span>
                <input  ng-show="order_type == 2" type="text" ng-value=" (asset_price*0.99) |nFilter :asset_amount  " disabled>
                <input  ng-show="order_type == 1" type="text" ng-value="asset_price |nFilter :asset_amount " disabled></li>

            <li><span>{{'CARD_REMARK'|translate}}</span><input type="text" ng-value="remit_code" disabled></li>
            <li style="overflow: initial"><span ng-cloak ng-show="uid===5">{{'CARD_NOTES'|translate}}</span>
                <span ng-cloak ng-show="uid===0">{{'CARD_NOTES_SELL'|translate}}</span>
                <span ng-cloak ng-show="uid===1">{{'CARD_NOTES'|translate}}</span></span><input type="button"
                                                                                                value="{{'CARD_CONFIRM'|translate}}"
                                                                                                ng-click=popStatus("关闭收款账户",orderId,'','','','',status)>
            </li>
        </ul>
    </div>
    <!--关闭弹窗-->
    <a href="javascript://" ng-click=popStatus("关闭收款账户按钮")></a>
</div>
<!--买入商户历史记录页面-->
<div class="common-main trade_desk" auto-height>
    <!--标题-->
    <div class="common-main-title">
        <div class="container">
            <span class="zh-title">{{'GCC_TRADE'|translate}}</span>
            <span class="en-title hidden-xs"><span class="line">|</span>EXCHANGE</span>
        </div>
    </div>
    <div class="common_bod">
        <div class="common_bod_center">
            <!--查询条件-->
            <div class="query_input">
                <ul>
                    <li>
                        <label>{{'CARD_START_TIME'|translate}}：</label>
                        <datepicker date-format="yyyy-MM-dd" style="width:160px;">
                            <input ng-model="date1" type="text"/>
                        </datepicker>
                    </li>
                    <li>
                        <label>{{'CARD_END_TIME'|translate}}：</label>
                        <datepicker date-format="yyyy-MM-dd" style="width:160px;">
                            <input ng-model="date2" type="text"/>
                        </datepicker>
                    </li>
                    <li>
                        <input type="button" value="{{'CARD_QUERY'|translate}}" ng-click="getRecords(1,type,date1,date2,id)">
                    </li>
                </ul>
            </div>
            <!--历史记录 -->
            <div class="trade_record">
                <div class="record_tit">
                    <p ng-clock ng-show="uid == 1">{{'CARD_MERCHANT_HISTORY'|translate}}</p>
                    <p ng-clock ng-show="uid == 0">{{'CARD_MERCHANT_HISTORY_SELL'|translate}}</p>
                    <input type="text" placeholder="{{'CARD_REMARK'|translate}}" ng-model="remark" ng-cloak ng-show="uid == 0">
                    <input type="button" value="" ng-click="getRecords(1,id,'','','',remark)" ng-cloak ng-show="uid == 0">
                </div>
                <div class="record_list">
                    <ul class="tit">
                        <li>{{'CARD_TIME'|translate}}</li>
                        <li>{{'CARD_SELLER_MEMBER'|translate}}</li>
                        <li>{{'CARD_NUM'|translate}}</li>
                        <li>{{'CARD_PRICE'|translate}}(&yen;)</li>
                        <li>{{'CARD_TOTAL'|translate}}(&yen;)</li>
                        <li>{{'CARD_SERIAL'|translate}}</li>
                        <li>{{'TRADE.STATUS' |translate}}</li>
                    </ul>
                    <ul ng-repeat="v in dataList" ng-cloak ng-show="dataList.length!=0">
                        <li>{{v.create_time | dateFilter | date : 'yyyy-MM-dd HH:mm:ss'}}</li>
                        <li>{{v.consumer_id}}</li>
                        <li>{{v.asset_amount}}</li>
                        <li ng-show="v.order_type ==2">{{(v.asset_price*0.99).toFixed(2) }}</li>
                        <li ng-show="v.order_type ==1">{{v.asset_price }}</li>
                        <li ng-show="v.order_type == 2">{{(v.asset_price*0.99) |nFilter :v.asset_amount  }}</li>
                        <li ng-show="v.order_type == 1">{{v.asset_price |nFilter :v.asset_amount }}</li>
                        <li>{{v.id}}</li>
                        <li ng-if="language =='zh_TW'||!language">{{v.status | statusFilter: 'zh'}}<img
                                src="/assets/images/icon/sm_icon.png"
                                ng-click=popStatus("打开收款账户",v.id,v.asset_price,v.asset_amount,v.remit_code,v.order_type,v.status)></li>
                        <li ng-if="language =='en'">{{v.status | statusFilter: 'en'}}<img
                                src="/assets/images/icon/sm_icon.png"
                                ng-click=popStatus("打开收款账户",v.id,v.asset_price,v.asset_amount,v.remit_code,v.order_type,v.status)></li>
                        <!--<li><a href="javascript://">{{'CARD_GOODS_RECEIPT'|translate}}</a></li>-->
                    </ul>
                    <div class="page-btn ng-hide" ng-show="params.totalItems">
                        <ul uib-pagination boundary-links="true" total-items="params.totalItems" ng-model="params.currentPage" class="pagination-sm" max-size="3" ng-change="pageChanged(1,id,date1,date2,remark)" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                    </div>
                    <!--boundary-links   是否显示第一页和最后一页的按钮-->
                    <!--total-items   总共有多少条数据-->
                    <!--ng-model 当前页数-->
                    <!--max-size  可选择的页数范围-->
                    <!--ng-change 页数变化时调用的函数-->
                    <!--暂无数据-->
                    <!--暂无数据-->
                    <div class="no_date" ng-cloak ng-show="dataList.length==0">
                        <label>{{'CARD_NO_DATE'|translate}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>